# local environment variables
localenv
# local login shell things (may/may not run)
localprofile
# local aliases and init things
localrc
# local post_init things (mostly version manager integration)
localpostrc
# local logout things
localexit
