# Ignore everything in bin except for my stuff - users need to be able to place
# their own scripts here.
/bin/*
!/bin/dcp-*
!/bin/__*
!/bin/yolo

# local environment variables
localenv
# local login shell things (may/may not run)
localprofile
# local aliases and init things
localrc
# local post_init things (mostly version manager integration)
localpostrc
# local logout things
localexit

# conf directory contains configuration for scripts
/conf/*
!/conf/.keep

# kwm config is wide open besides the two provided files
/dot/kwm/*
!/dot/kwm/kwmrc
!/dot/kwm/binds
